html, body{
	margin: 0;
	padding: 0;
}
header, footer, div.boxcont, div.boxside{
	padding: 15px;
	background-color: silver;
}
header, footer, div.box{
	margin: 10px;
	overflow: hidden;
}
div.content{
	width: 70%;
	float: left;
}
div.sidebar{
	width: 30%;
	float: right;
}
div.boxcont{ 
	margin-right: 10px 
}