*{
    margin: 0;
    padding: 0;
}
body {
    padding-top: 10px;
    padding-left: 10px;
}
div.img img {
    width: 200px;
    box-shadow: 1px 1px 2px #999;
    margin: 2px;
    display:inline-block;
    vertical-align:top;
}
div.img li {
    float: left;
    list-style: none;
    display: inline;
}

div.img ul {
    background-color: blue;
    white-space: nowrap;
    display: inline-block;
}

div.img img:hover{
    box-shadow: 1px 1px 2px green;
}

div.img li:nth-child(4n+1){
    clear: left;
}
